img {
	width: 100%;
}
header {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 40px;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
}
.writer {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
.workcontent {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.workcontent p {
	text-align: center;
	font-size: 18px;
}
.workcontent h1 {
	text-align: center;
	margin-bottom: 20px;
}
.work .row{
	margin-top: 30px;
	margin-bottom: 50px;
}
.logo {
	width: 50px;
	border-radius: 50%;
	transition: all 1s ease-out;
}
.logo:hover {
	transform: scale(1.2, 1.2);
}
.footer .sticky-top{
	height: 100px;
    background-color: #EDECEB;
}
.copyrighttext {
	font-size: 5px;
}
.next {
	padding-bottom: 30px;
	height: 60px;
}
.next a {
	margin-top: 10px;
}
