img {
	width: 100%;
}
header {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 40px;
	text-align: center;
}
.writer {
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.workcontent {
	margin-top: 20px;
	margin-bottom: 20px;
}
.workcontent p {
	text-align: center;
	font-size: 18px;
}
.workcontent h1 {
	text-align: center;
	margin-bottom: 20px;
}
.work .row{
	margin-top: 30px;
	margin-bottom: 30px;
}
.logo {
	width: 60px;
	border-radius: 50%;
	transition: all 1s ease-out;
}
.logo:hover {
	transform: scale(1.2, 1.2);
}
.sticky-top {
	height: 100px;
	background-color: #EDEBEC;
}
.copyrighttext {
	font-size: 5px;
}