body {
	background-color: black;
}
.news {
	padding-top: 20px;
	padding-bottom: 20px;
}
#newspic {
	padding-left: 13%;
	padding-right: 13%;
}
#newspic img {
	width: 100%;
}
#newscontent {
	color: white;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
}
#newscontent h4{
	margin-top: 30px;
	font-family: 'Times New Roman', Times, serif;
}
.logo {
	width: 50px;
	border-radius: 50%;
	transition: all 1s ease-out;
}
.logo:hover {
    transform: scale(1.2, 1.2);
}